
.logo {
    font-family: $secondaryFont;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    color: $accentColor;

    &--second-black {
        color: #000000;
    }
    
    &--second-white {
        color: $mainTitleColor;
    }
}


